h1{
  text-align: center;
  //margin: 35px;
}

table, td{
  border: 1pt solid black;
  padding: 1px;
  
}

img{
  border-radius: 20px;
  box-shadow: 5px 5px 2px grey;
  margin-bottom: 20px;
  margin-top: 20px;
  //margin: 25px;
  
}

body{
  background-color: #e9e8ec;
}

#myForm{
  //margin: 35px;
}

#first{
  margin: 35px;
}

#info, #image{
  display: inline;
  float: left;
  margin: 15px;
}

#counter{
  clear: both;
}